@use '../abstracts' as *;

.coding{
  width: 95%;
  margin: 0 auto;
  h1 {
    color: var(--colore-PCTO);
    margin: 1.5em auto;
    text-align: center;
    line-height: 1.5em;
  }
  p{
    margin: 1.5em auto;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: justify;
  }

  span{
    font-weight: bold;
    color: var(--colore-PCTO)
  }


  
  h3{
    display: block;
    border-bottom: 1px solid var(--colore-PCTO);
  }

  ul {
    li{
      padding: 0.3em 0;
      line-height: 1.5em;
    }

    @include responde-to(medium){
      font-size: 1.2rem;
      list-style: none;
      li::before {
          content: var(--emoji-lista);
            color: var(--colore-PCTO);
          }
        } 
  }

  img{
    width: 100%;
    margin: 2em auto;
  }
}