@use '../abstracts' as *;

.logo {
  display: block;
  margin: 0 auto 0 1em;
  cursor: pointer;
  background-image: linear-gradient(90deg, $main-color, $second-color);
  background-clip: text;
  color: rgba($color: #000000, $alpha: 0);
  font-weight: 700;

  @include responde-to(medium) {
    margin: 0 0 0 2.5%;
    font-size: 2.5em;
  }
}
