@use '../abstracts' as *;

.table {
  margin: 1em 5%;
  @include from-to(small, medium) {
    display: flex;
    flex-direction: column;

    aside {
      order: 3;
      margin: 1em 0;

      nav {
        gap: 1em;
      }
    }
  }
  @include responde-to(medium) {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 2em;
    nav {
      gap: 1.5em;
    }
  }
  nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    a {
      box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.25);
      display: block;
      width: 100%;
      padding: 0.7em;
      border-radius: 10px;

      &.active {
        color: white;
        background-color: var(--colore-PCTO);
      }
    }
  }}